//o Front-Ender que lute

head
  title Coding At School
  script(type='text/javascript' src='./javascripts/validate.js')
- var len = content.length
  p#demo
  a(href=`${links.loglink}`) #{links.name1} 
  a(href=`${links.registerlink}`) #{links.name2}

- for(let i = 0; i < len; i++)
  div 
  h2
    a(href=`/post/${content[i].id}/`) #{content[i].title}
  p=content[i].subtitle
  br